@{
ViewData["Title"] = "Home Page";
}

<style>
    .text-center {
        margin-top: 40%;
        position: relative;
    }

    .hide {
        display: none;
    }

    i {
        cursor: pointer;
    }

    span {
        padding: 0;
    }
</style>
<article class="text-center">
    <h1 class="display-4">Smurl!</h1>
    <p>he protecc. he attakk. but most importantly, he's small.</p>
    <form id="form" asp-action="Index" class="form-inline">
        <input type="text" name="url" id="txt-url" class="form-control mb-2
            col-12 col-sm-12 col-md-9"
            placeholder="place your big shitty url here bro" />
        <button id="mms" type="submit" class="btn btn-dark mb-2 col-12 col-sm-12
            col-md-3">make
            me small!</button>
    </form>

    <div id="loading" class="hide">
        <div class="spinner-grow" style="width: 80px; height: 80px"
            role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <br />
        we are working on it...
    </div>

    <br />
    <div asp-action="Index" class="form-group hide" id="response-url-div">
        <span>your new small and awesome url is</span>
        <div class="form-inline">
            <input type="text" readonly class="form-control col-8"
                style="background-color: transparent; border: none; text-align:
                right;"
                id="response-url">
            <div>
                <i onclick="copy()" class="fas fa-copy col-4"></i>
            </div>
        </div>
    </div>
</article>

@section Scripts {
<script src="~/js/newUrlCreated.js"></script>
<script>
        function copy() {
            var copyText = document.getElementById("response-url");

            copyText.select();
            copyText.setSelectionRange(0, 99999);

            document.execCommand("copy");
            toastr.options.positionClass = 'toast-bottom-right';
            toastr.success("copy to clipboard");
        }
    </script>
}
